exportMethods(meffil.basenames,
              meffil.rg.to.mu,
              meffil.read.rg,
              meffil.extract.controls,
              meffil.background.correct,
              meffil.dye.bias.correct,
              meffil.compute.normalization.object,
              meffil.probe.info,
              meffil.normalize.objects,
              meffil.normalize.sample,
              meffil.normalize.samples,
              meffil.get.beta)

