export(meffil.basenames,
       meffil.rg.to.mu,
       meffil.read.rg,
       meffil.background.correct,
       meffil.dye.bias.correct,
       meffil.compute.normalization.object,
       meffil.control.matrix,
       meffil.design.matrix,
       meffil.probe.info,
       meffil.normalize.objects,
       meffil.normalize.sample,
       meffil.normalize.samples,
       meffil.get.beta,
       meffil.normalize.dataset)

